In [1]:
print('ML')

ML

In [2]:
print("ML")

ML

In [3]:
1+2,2-2, 5/3,5//3,3*4,2**3 ,3^10 #(2**3= 2 to the power 3)

(3, 0, 1.6666666666666667, 1, 12, 8, 9)

In [4]:
print('ML'+'1+4')

ML1+4

In [5]:
learn = 'ML'
print ('learn')
print (learn)

learn
ML

In [6]:
var_1=20
var_2= 'ML'
print (var_1 + var_2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
var_1='20'
var_2= 'ML'
print (var_1 + var_2)

In [ ]:
var_1= 20
var_2= 'ML'
print ('var_1' + var_2)

In [ ]:
var_1=20
var_2= 'ML'
print (str(var_1) + var_2)

In [ ]:
var1=input ("inter the value 1:")
var2=input ("inter the value 2:")

print (var1 + var2)

In [ ]:
var1=input ("inter the value 1:")
var2=input ("inter the value 2:")

print (int(var1) +int(var2))

In [ ]:
var1=int(input ("inter the value 1:"))
var2=int(input ("inter the value 2:"))

print (var1 + var2)
var1%var2

In [ ]:
name1 = "hello"
name2 = input ("give name:")
print(name1+ name2)

In [ ]:
var1=input("give the input")
type(var1)
#type(int(var1))

In [ ]:
name1 = "hello"
name2 = input ("give name:")
print(name1*2,name2*3)

In [ ]:
statement="\n my\n is\n ML"

print("statement",statement)

In [ ]:
string="1 2 3 4 5 6 7 "
string1="1\t2\t3\t4\t5\t"
print(string)
print(string1)

In [ ]:
print('what's your name?')

In [ ]:
print('what\'s your name?')

In [ ]:
print("what's your name?")

In [ ]:
# .format fuction

var11= 'hello'
var12='world'
message1=(var11 + var12+' hru?')
print (message1)

In [ ]:
message2= '{} {} hru?'.format(var11,var12)
print (message2)

In [7]:
message3= f'{var11} {var12} hru?'
print(message3)

NameError: name 'var11' is not defined

In [ ]:
print(type(message3))
print(len(message3))
print(message3.upper())
print(message3.lower())
print(message3.count('o'))
print(message3.find('hru?'))
print(message3[3])
print(message3[4])
print(message3[0:5])

In [ ]:
#control flow and indentation

for i in range(0,12):
    print('value of I '+str(i))

In [ ]:
for i in range(0,12):
    print('value of I '+str(i))
    print('loop')
print('well done')

In [ ]:
for var1 in range(0,15):
    print("no.{} ,square is {}, cube is {}".format(var1,var1**2,var1**3))

In [ ]:
#function

def function_name ():
    print("hello")
    
function_name ()

In [ ]:
# 1-no argumment no return type funtion
def addition ():
    var1= input ("enter the num1: ")
    var2= input ("enter the num2: ")
    var3=int(var1)+int(var2)
    print("sum=" , var3)
    
addition ()

In [ ]:
# with argument no return type funtion

def sub (var1,var2):
    var3=var1-var2
    print("sub = ", var3)
    
sub (23,3)

In [ ]:
# no argument with return type funtion

def multi():
    var1= input ("enter the num1: ")
    var2= input ("enter the num2: ")
    var3=int(var1)*int(var2)
    return var3

var4=multi()
print("multi=",var4)

In [ ]:
#with argumennt with return  type funtion

def div(var1,var2):
    var3=var2/var1
    return var3

var4=div(4,100)
print("div=",var4)

In [ ]:
#if else

name=input("enter the name: ")
age=int(input('enter the age,{}'.format(name)))

print(age)

if age >= 18:
    print("please vote")
    
else:
    print('try after {} year'.format(18-age))

In [ ]:
print('guess a no ')
guess=int(input('no:'))

if guess<5:
    print('guess higher')
    guess=int(input('no:'))
    
    if guess==5:
        print('correct')
    else:
        print('try again')
        guess=int(input('no:'))
        
elif guess>5:
    print("guess lower")
    guess=int(input("no."))
        
    if guess==5:
        print('correct')
    else:
        print('try again')
        guess=int(input('no:'))
        
else:
    print('first attempt')

In [ ]:
age='10'
while True:
    print('enter age')
    age1= input()
    if age1==age:
        break
        
print ('correct')

In [ ]:
# FOR LOOP
for i in range(10):
    print('no.{}'.format(i))

In [ ]:
for i in range(1,10):
    print('no.{}'.format(i))

In [ ]:
for i in range(5,30,5):
    print('no.{}'.format(i))

In [8]:
for i in range(20,1,-5):
    print('no.{}'.format(i))

no.20
no.15
no.10
no.5

In [9]:
num='2,34,123,1,2346,1,76,986'
for i in range(0,len(num)):
    print(num[i])

2
,
3
4
,
1
2
3
,
1
,
2
3
4
6
,
1
,
7
6
,
9
8
6

In [10]:
num ='1,23,234,4563'
for i in range(0,len(num)):
    if num[i] in '0123456789':
        print (num[i])

1
2
3
2
3
4
4
5
6
3

In [11]:
num ='1,23,234,4563'
for i in range(0,len(num)):
    if num[i] in '0123456789':
        print (num[i],end='')

1232344563

In [12]:
num='2,12,345,23'
cleanednumber=''
for i in range(0,len(num)):
    if num[i] in '0123456789':
        cleanednumber = cleanednumber + num[i]
        
        
newnumber= int(cleanednumber)
print(newnumber)
print(type(newnumber))

21234523
<class 'int'>

In [13]:
#while loop

var1=0

while var1<10:
    print(var1)
    var1 += 2

0
2
4
6
8

In [14]:
available_exits =["east","north"]
choosen_exits =""
while choosen_exits not in available_exits:
    choosen_exits=input("enter direction")
    
print('come again')

enter directioneast
come again

In [15]:
available_exits =["east","north"]
choosen_exits =""
while choosen_exits not in available_exits:
    choosen_exits=input("enter direction")
    if choosen_exits== quit:
        print(bye)
        break
    
else:
    print('come again')

enter directionnorth
come again

In [16]:
#list
['cat','bat','rat','mat','24']

['cat', 'bat', 'rat', 'mat', '24']

In [17]:
list=['cat','bat','rat','mat']
print(list)

['cat', 'bat', 'rat', 'mat']

In [18]:
list[0]

'cat'

In [19]:
list[3]

'mat'

In [20]:
list[-1]

'mat'

In [21]:
print("hello",list[1])

hello bat

In [22]:
list[:]

['cat', 'bat', 'rat', 'mat']

In [23]:
list[:2]

['cat', 'bat']

In [24]:
list[0:2]

['cat', 'bat']

In [25]:
list[2:]

['rat', 'mat']

In [26]:
len(list)

4

In [27]:
list.append('goat')
list

['cat', 'bat', 'rat', 'mat', 'goat']

In [28]:
#iterater
string="1234567889"
for lol in string:
    print(lol)

1
2
3
4
5
6
7
8
8
9

In [29]:
string= "1234567889"
lol = iter(string)
print(lol)
print(next(lol))
print(next(lol))
print(next(lol))
print(next(lol))
print(next(lol))

<str_iterator object at 0x00000261C2AACDC8>
1
2
3
4
5

In [30]:
string= "1234567889"
lol = iter(string)

for col in range(0,len(string)):
    nest= next(lol)
    print(nest)

1
2
3
4
5
6
7
8
8
9

In [31]:
#list and dictionries
list=['cat','rat','mar']
dict={'name':'rocky','age':'22','gender':'m'}
dict['age']

'22'

In [32]:
dot={'name':'rocky','age':'22','gender':'m'}
for v in dot.values():
    print(v)

rocky
22
m

In [33]:
for k in dot.keys():
    print(k)

name
age
gender

In [34]:
for i in dot.items():
    print(i)

('name', 'rocky')
('age', '22')
('gender', 'm')

In [ ]:
birthday={'mm':'22','jj':'33'}

while True:
    print = ("enter name:  ")
    name = input()
    if name =='':
        break
    if name in birthday:
        print(birthday[name])
    else:
        print("wrong info")
        brday = input()
        birthday[name] =brday
        print('database updated')

In [1]:
import numpy as np