In [99]:
import pandas as pd

poke= pd.read_csv("pokemon.csv",usecols=["Pokemon"],squeeze=True)

In [100]:
#short and inplace

poke.sort_values()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [101]:
poke.sort_values().head(6)

459     Abomasnow
62           Abra
358         Absol
616      Accelgor
680     Aegislash
141    Aerodactyl
Name: Pokemon, dtype: object

In [102]:
poke.sort_values(ascending=True)    #by default

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

In [103]:
poke.sort_values(ascending=False)

717      Zygarde
633     Zweilous
40         Zubat
569        Zorua
570      Zoroark
         ...
680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon, Length: 721, dtype: object

In [104]:
poke.sort_values(ascending=False).tail(5)

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon, dtype: object

In [105]:
import pandas as pd
google = pd.read_csv("google_stock_price.csv",squeeze=True)

In [106]:
#google.head()

In [107]:
#goo=google.sort_values()    #blank asecnding order
#goo.head()

In [209]:
import pandas as pd
google = pd.read_csv("google_stock_price.csv",squeeze=True)
google.sort_values(ascending=False,inplace=True)    #inplace ascendint to descending
google.head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

In [109]:
#index shorting

In [110]:
import pandas as pd

pokes=pd.read_csv("pokemon.csv",usecols=["Pokemon"],squeeze=True)

pokes.head(4)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
Name: Pokemon, dtype: object

In [111]:
pokes.sort_values(ascending=False,inplace=True)
pokes.head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [112]:
pokes.sort_index(ascending=False,inplace=True)
pokes.head()

720    Volcanion
719        Hoopa
718      Diancie
717      Zygarde
716      Yveltal
Name: Pokemon, dtype: object

In [113]:
#extract values
import pandas as pd

poki=pd.read_csv("pokemon.csv",usecols=["Pokemon"],squeeze=True)

poki.head(4)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
Name: Pokemon, dtype: object

In [114]:
poki[[1,10,716,569]]

1      Ivysaur
10     Metapod
716    Yveltal
569      Zorua
Name: Pokemon, dtype: object

In [115]:
poki[3:11]

3     Charmander
4     Charmeleon
5      Charizard
6       Squirtle
7      Wartortle
8      Blastoise
9       Caterpie
10       Metapod
Name: Pokemon, dtype: object

In [116]:
poki[0:10]

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [117]:
poki[:11]

0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
5      Charizard
6       Squirtle
7      Wartortle
8      Blastoise
9       Caterpie
10       Metapod
Name: Pokemon, dtype: object

In [118]:
poki[712:]

712      Avalugg
713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [119]:
poki[-10:]

711     Bergmite
712      Avalugg
713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [120]:
poki[-10:-5]

711    Bergmite
712     Avalugg
713      Noibat
714     Noivern
715     Xerneas
Name: Pokemon, dtype: object

In [121]:
#extract data by index label
import pandas as pd

pok=pd.read_csv("pokemon.csv")

pok.head(4)

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire

In [122]:
pok=pd.read_csv("pokemon.csv",index_col="Pokemon",squeeze=True)

pok.head(4)

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Name: Type, dtype: object

In [123]:
pok[[2,5]]

Pokemon
Venusaur     Grass
Charizard     Fire
Name: Type, dtype: object

In [124]:
pok[1:5]

Pokemon
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [125]:
pok['Charmander']

'Fire'

In [126]:
#.get method
pok['Charizard']

'Fire'

In [127]:
pok.get(key='Charizard')

'Fire'

In [164]:
pok.get(key="charu",default="not in list")

'not in list'

In [165]:
# value_count

pok=pd.read_csv("pokemon.csv",index_col="Pokemon",squeeze=True)

pok.head(4)

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Name: Type, dtype: object

In [166]:
pok.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [167]:
pok.count()

721

In [168]:
pok.value_counts(ascending=True)

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Dark         28
Poison       28
Ground       30
Electric     36
Rock         41
Psychic      47
Fire         47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

In [169]:
#maths method

In [170]:
import pandas as pd

pd.read_csv("google_stock_price.csv")

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

In [211]:
pd.read_csv("google_stock_price.csv",squeeze=True)

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [190]:
google.count()

3012

In [191]:
len(google)

3012

In [192]:
google.mean()

334.31009296148744

In [193]:
google.sum()

1006942.0000000001

In [194]:
google.sum()/google.count()

334.31009296148744

In [195]:
google.std()

173.18720477113115

In [196]:
google.median()

283.315

In [197]:
google.max()

782.22

In [198]:
google.idxmax()

3011

In [199]:
google[3011]

782.22

In [200]:
google.min()

49.95

In [201]:
google.idxmin()

11

In [202]:
google[11]

49.95

In [203]:
google[google.idxmin()]

49.95

In [204]:
# .apply funtion

In [216]:
import pandas as pd

google1=pd.read_csv("google_stock_price.csv",squeeze=True)
google1.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [228]:
def classify_per(num):
    if num<300:
        return "ok"
    elif num >=300 and num <650:
        return "satisfactory"
    else:
        return "try again"
    
google1.apply(classify_per)

0              ok
1              ok
2              ok
3              ok
4              ok
          ...
3007    try again
3008    try again
3009    try again
3010    try again
3011    try again
Name: Stock Price, Length: 3012, dtype: object

In [233]:
google1.apply(lambda stock_price:stock_price+1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
         ...
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64

In [ ]:
#